@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --main-background: #1e1e1d;
    --sidebar: #262626;
    --text: white;
    --add-todo: #f07f75;
    box-sizing: border-box;
    font-family: "Josefin Sans";
    
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    background-color: var(--main-background);
    color: var(--text);
    height: 100vh;
    overflow: hidden;
}
#sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--sidebar);
    height: 100vh;
    position: sticky;
}
.tabs{
    cursor: pointer;
}


#content{
    overflow: scroll;
    color: var(--text);
    padding-top: 3rem;
    grid-column-start: 3;
    grid-column-end: 4;
}

#addBtn{
    color: var(--add-todo)
}

.calendarIcon, .editIcon, .removeIcon{
    height: 1rem;
}

.todo{
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "complete title expand date remove";
    padding: 1rem;
    border-bottom: .5px solid rgba(128, 128, 128, 0.492);
}
.title{
    font-size: 1rem;
    grid-area: title;
}
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: date;
}

.completeBtn{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: blue;
    grid-area: complete;

}

.removeBtn{
    width: fit-content;
    grid-area: remove;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expandBtn{
    grid-area: expand;
    background-color: white;
    cursor: pointer;
}

.description{
    display: none;
}

#expand{
    background-color: white;
}